html{
	overflow-y:scroll;
}

body {
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    background-color: #ffffff;
}

p{
	text-align: left !important;
}

header{
	margin-top:60px;
}

nav{
	margin-top: 30px; 
}

h3{
	margin-bottom: 20px;
}

table td{
	padding: 6px 10px;
}

.form{

	display: block;

	overflow-x: auto;

	margin-bottom: 40px;

}

.form td{

	padding: 10px 7px;

}

.checkboxes td{

	padding: 0px 5px;

}

.disabledCheck{

	color: #ccc;
}

.radios td{
	padding: 4px 0px;
	text-align:center;
}

.radios td:last-child{
	text-align:left;
	padding-left: 10px;
}

.form-item{

	display: none;
}

#error{
	color:red;
	font-weight: bold;
}

