html{
	overflow-y:scroll;
}

body {
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}

p{
	text-align: left !important;
}

header{
	margin-top:60px;
}

nav{
	margin-top: 30px; 
}

table{

	display: block;

	overflow-x: auto;

}

table td{

	padding: 10px 30px;

	margin-bottom: 15px;
}

.form-item{

	display: none;
}

